{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>EPG源管理</h4></div>
					<div class="tab-content">
						<div class="tab-pane active">
							<table class="table table-hover">
								<tr>
									<td colspan="7">
										<label class="control-label">操作：</label>
										<form action="">
											<button class="btn btn-default" type="button" onclick="submitFormPOST(this)" name="updatelistall">更新全部</button>
											<button class="btn btn-default" type="button" data-toggle="modal" data-target="#epgimport">导入epg源</button>
										</form>
										
									</td>
								</tr>
								<tr align="center">
									<td class="w-5">名称</td>
									<td class="w-15">url</td>
									<td class="w-10">更新时间</td>
									<td class="w-5">状态</td>
									<td class="w-15">操作</td>
								</tr>
								<tbody>
								{{ if gt (len .EpgFromDb) 0 }}{{ range .EpgFromDb }}
								{{if .Url }}
								<tr data-id="{{ .ID }}">
									<td style="display:none;" class="e-id" data-value="{{ .ID }}">{{ .ID }}</td>
									<td style="display:none;" class="e-ua" data-value="{{ .UA }}">{{ .UA }}</td>
									<td align="center" class="e-name" data-value="{{ .Name }}">{{ .Name }}</td>
									<td align="center" class="e-url" data-value="{{ .Url }}" style="max-width: 200px; 
										word-wrap: break-word; 
										white-space: normal; 
										-webkit-line-clamp: 3; 
										-webkit-box-orient: vertical; 
										overflow: hidden; 
											text-align: center;
										text-overflow: ellipsis;">
									<a href="{{ .Url }}" target="_blank">{{ .Url }}</a>
									</td>
									<td align="center">{{ .LastTimeStr }}</td>
									<td align="center" style="font-size:12px;font-weight: bold;">{{if eq .Status 1 }}<font color="#33a996">上线</font>{{else}}<font color="red">下线</font>{{end}}</td>
									<td>
										<button type="button" onclick="tdBtnPOST(this)" name="change_status" value="{{.ID}}" class="btn btn-xs {{if eq .Status 1 }}btn-warning">下线{{else}}btn-success">上线{{end}}</button>
										<button class="btn btn-xs btn-info" type="button" name="updatelist" value="{{.ID}}" onclick="tdBtnPOST(this)">更新</button>
										<button class="btn btn-xs btn-info" type="button" name="editepglist" value="{{.ID}}" data-toggle="modal" onclick="getEpgList(this)" data-target="#epgimport">编辑</button>
										<button class="btn btn-xs btn-danger" type="button" onclick="tdBtnPOST(this)" name="dellist" value="{{.ID}}">删除</button>
									</td>
								</tr>
								{{ end }}{{ end }}{{end}}
								</tbody>
							</table>
						<div class="modal fade" id="epgimport" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#eid').val('');$('#epgfromurl').val('');$('#epgfromname').val('');"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">导入epg源</h4>
									</div>
									<form method="post" enctype="multipart/form-data">
										<input type="hidden" id="eid" data-value="" name="eid" value="">
										<div class="modal-body">
											<div class="form-group">
												<label class="control-label">epg源名称:</label>
												<input type="text" class="form-control" name="epgfromname" id="epgfromname" value="" placeholder="请输入名称">
											</div>
											<div class="form-group">
												<label class="control-label">epg源url地址:</label>
												<input type="text" class="form-control" name="epgfromurl" id="epgfromurl" value="" placeholder="请输入epg源地址">
											</div>
											<div class="form-group">
												<label class="control-label">User-Agent:</label>
												<input type="text" class="form-control" name="epgfromua" id="epgfromua" value="" placeholder="Go-http-client/1.1">
											</div>
										</div>
										<div class="modal-footer">
											<button class="btn btn-default" type="button" name="epgImport" onclick="submitFormPOST(this)">保存</button>
											<button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#eid').val('');$('#epgfromurl').val('');$('#epgfromname').val('');">关闭</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{ template "admin_footer" . }}